#navbar{
    color: rgb(224, 224, 224);
    background-color: black;
    height: 40px;
    padding-top: 20px;
   
    border: 10px white double;


}

#navbar a{
    margin-right: 90px;
    padding-left: 40px;
    

}
.continer{
    background-color: rgb(31, 52, 72);
    text-align: center;
    padding: 20px;
    height: 400px;
}
h1{
    color: rgb(170, 216, 21);
    font-family: sans-serif;
}
footer{
    text-align: center;
    background-color: rgb(57, 47, 47);
    padding-top: 20px;
    height: 50px;
    
}
